###
# Ignore everything (whitelist the wanted items after this)
###
*

# Obviously we should keep this.
!.gitignore

# Keep the top-level README & LICENSE
!README.md
!LICENSE

# resources (used by all projects)
!resources/
!resources/100k_primes.txt


###
# Clojure
###

!clojure/

# Clojure specific README
!clojure/README.md

# Keep project.clj
!clojure/project.clj

# Keep source, tests, and docs
!clojure/src/
!clojure/src/**

!clojure/test/
!clojure/test/**

!clojure/docs/
!clojure/docs/**

